@mixin tam{
    width: 100%;
    height: 100%;
}
#background{
    @include tam;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
   
    background-position: center;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
}


#main-content{
    @include tam;
    position: relative;
    color: aliceblue;
}
#content-main{
    @include tam;
    padding-top: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#title-main{
    font-size: 10rem;
}
#des-main{
    font-size: 3rem;
    font-weight: 100;
}
#button-main{
    margin-top: 1rem;
    padding: 1rem;
    padding-right: 50px;
    padding-left: 50px;
    color: aliceblue;
    font-weight: bold;
    border-radius: 12%;
    opacity: 50%;
    background-color: transparent;
}
#FloatingActionButton{
    position: fixed;
    top: 0;
    right: 0;
    width: 3rem;
    height: 0.2rem;
    display: block;
    margin-top:0.5rem ;
    background-color: aliceblue;
    ::after{
        position: fixed;
        display: block;
        width: 3rem;
        height: 0.2rem;
        margin-top: 0.5rem;
        background-color: aliceblue;
    }
    ::before{
        position: fixed;
        display: block;
        width: 3rem;
        margin-top: 0.5rem;
        height: 0.2rem;
        background-color: aliceblue;
    }
}