---
import "./styles/about_us.css";
---

<div class="about_us">
  <div id="floatingbutton">M</div>
  <h2>ABOUT US</h2>
  <span>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quod
    repellendus, nihil sequi incidunt veritatis asperiores repudiandae
    aspernatur, maiores dicta accusantium tempora voluptatum distinctio nostrum
    ratione blanditiis architecto culpa illum?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quod
    repellendus, nihil sequi incidunt veritatis asperiores repudiandae
    aspernatur, maiores dicta accusantium tempora voluptatum distinctio nostrum
    ratione blanditiis architecto culpa illum?
  </span>
  <section>
    <h3></h3>
    
  </section>
</div>
