---
import img from "@assets/img/back-ground.jpg";
import "./styles/main.css";
---

<section id="main-content">
  <img
    src="../../../public/assets/imgs/back-ground.jpg"
    alt="back-ground"
    id="background"
  />
  <div id="content-main">
    <div id="FloatingActionButton"></div>
    <h1 id="title-main">SIMPLY</h1>
    <h2 id="des-main">DEV + DESIGN FOR BUSINESS</h2>
    <button id="button-main">Let's Talk!</button>
  </div>
</section>

<!-- 1303x732 -->
