---
import img from '@assets/img/back-ground.jpg';
import './styles/main.css';
---
<section id="main-content">
    <img src="../../../public/assets/imgs/back-ground.jpg" alt="back-ground" id="background"/>
    <section id="FloatingActionButton">icon</section>
    <h1>SIMPLY</h1>
    <h2>DEV + DESIGN FOR BUSINESS</h2>
    <button>Let's Talk!</button>
</section>

<!-- 1303x732 -->